
<!-- nav -->
<nav class="navbar-light bg-dark">
  <ul class="nav justify-content-center pt-3">
    <h1 style="color:white">SUPER HERO TEAM</h1>
  </ul>

  <div class="container text-center">
    <div class="row">
      
        <div class="col">
          <div class="m-1">
            <button routerLink="/equipo" class="btn btn-primary m-1">Ver al Team</button>
          <button routerLink="/home" class="btn btn-primary">Añadir Integrante</button>
          </div>
        </div>
      
     
    </div>
  </div>
</nav>




<router-outlet ></router-outlet>

 